#selector-dimensiones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  margin: 0 2vw 16% 2vw;
  opacity: 1;
  position: relative;
  -webkit-transform: translate(0px, 20vh);
          transform: translate(0px, 20vh);
}

@media (max-width: 800px) {
  #selector-dimensiones {
    height: auto;
    margin: 0 2vw 20% 2vw;
  }
}

#selector-dimensiones .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  #selector-dimensiones .todo {
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

#selector-dimensiones .todo #dim-pensar, #selector-dimensiones .todo #dim-crear, #selector-dimensiones .todo #dim-vivir {
  width: calc(100vw / 3 - (3vw));
  height: calc(100vw / 3 - (3vw));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 0.5vw;
  position: relative;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: default;
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-pensar, #selector-dimensiones .todo #dim-crear, #selector-dimensiones .todo #dim-vivir {
    width: 80vw;
    height: 80vw;
    margin: 0 auto 20px auto;
  }
}

#selector-dimensiones .todo #dim-pensar:hover, #selector-dimensiones .todo #dim-crear:hover, #selector-dimensiones .todo #dim-vivir:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#selector-dimensiones .todo #dim-pensar:hover a, #selector-dimensiones .todo #dim-crear:hover a, #selector-dimensiones .todo #dim-vivir:hover a {
  color: #0d9dd8;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#selector-dimensiones .todo #dim-pensar:hover a:hover, #selector-dimensiones .todo #dim-crear:hover a:hover, #selector-dimensiones .todo #dim-vivir:hover a:hover {
  background-color: #0d9dd8;
  color: #000000;
  border: 1px solid #0d9dd8;
}

#selector-dimensiones .todo #dim-pensar h2, #selector-dimensiones .todo #dim-crear h2, #selector-dimensiones .todo #dim-vivir h2 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: calc(22px + (54 - 22) * ((100vw - 1000px) / (1640 - 1000)));
}

#selector-dimensiones .todo #dim-pensar h2 strong, #selector-dimensiones .todo #dim-crear h2 strong, #selector-dimensiones .todo #dim-vivir h2 strong {
  display: block;
  text-align: center;
  font-size: 68px;
  line-height: 60px;
  font-weight: 700;
}

#selector-dimensiones .todo #dim-pensar a, #selector-dimensiones .todo #dim-crear a, #selector-dimensiones .todo #dim-vivir a {
  position: absolute;
  color: #2f2f2f;
  text-decoration: none;
  border: 1px solid #2f2f2f;
  padding: 4px 16px 10px 16px;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
}

#selector-dimensiones .todo #dim-pensar:hover #circulo {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: animapunto;
          animation-name: animapunto;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-box-shadow: 0px -14px 64px 0px #0d9dd8;
  box-shadow: 0px -14px 64px 0px #0d9dd8;
}

#selector-dimensiones .todo #dim-pensar #circulo {
  width: calc(50px + (100 - 50) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(50px + (100 - 50) * ((100vw - 1000px) / (1640 - 1000)));
  background-color: #0d9dd8;
  position: absolute;
  top: calc(21% + (53 - 21) * ((100vw - 1000px) / (1640 - 1000)));
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px -14px 44px 0px rgba(13, 157, 216, 0.7);
  box-shadow: 0px -14px 44px 0px rgba(13, 157, 216, 0.7);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#selector-dimensiones .todo #dim-crear {
  -webkit-perspective: 100vw;
          perspective: 100vw;
}

#selector-dimensiones .todo #dim-crear:hover #cubo {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: animacubo;
          animation-name: animacubo;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#selector-dimensiones .todo #dim-crear:hover #cubo .cara {
  -webkit-box-shadow: 0px -14px 64px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px -14px 64px 0px rgba(0, 0, 0, 0.1);
}

#selector-dimensiones .todo #dim-crear #cubo {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  -webkit-transform: rotateY(138deg) rotateX(112deg) rotateZ(116deg);
          transform: rotateY(138deg) rotateX(112deg) rotateZ(116deg);
  margin: 0 auto;
  top: calc(16% + (46 - 16) * ((100vw - 1000px) / (1640 - 1000)));
  left: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo {
    width: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    height: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara {
  width: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  position: absolute;
  border: calc(2.8px + (3.8 - 2.8) * ((100vw - 1000px) / (1640 - 1000))) solid #fff;
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara {
    width: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    height: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    border: 2px solid #fff;
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.frente {
  -webkit-transform: translateZ(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000))));
          transform: translateZ(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000))));
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.frente {
    -webkit-transform: translateZ(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300))));
            transform: translateZ(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300))));
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.atras {
  -webkit-transform: translateZ(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000))));
          transform: translateZ(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000))));
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.atras {
    -webkit-transform: translateZ(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300))));
            transform: translateZ(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300))));
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.arriba {
  -webkit-transform: translateY(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
          transform: translateY(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.arriba {
    -webkit-transform: translateY(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
            transform: translateY(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.abajo {
  -webkit-transform: translateY(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
          transform: translateY(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.abajo {
    -webkit-transform: translateY(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
            transform: translateY(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.izquierda {
  -webkit-transform: translateX(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
          transform: translateX(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.izquierda {
    -webkit-transform: translateX(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
            transform: translateX(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
  }
}

#selector-dimensiones .todo #dim-crear #cubo .cara.derecha {
  -webkit-transform: translateX(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
          transform: translateX(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-crear #cubo .cara.derecha {
    -webkit-transform: translateX(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
            transform: translateX(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
  }
}

#selector-dimensiones .todo #dim-vivir #cubo {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  width: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  -webkit-transform: rotateY(138deg) rotateX(112deg) rotateZ(116deg);
          transform: rotateY(138deg) rotateX(112deg) rotateZ(116deg);
  margin: 0 auto;
  top: calc(16% + (46 - 16) * ((100vw - 1000px) / (1640 - 1000)));
  left: 0;
  right: 0;
  position: absolute;
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo {
    width: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    height: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara {
  width: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(70px + (150 - 70) * ((100vw - 1000px) / (1640 - 1000)));
  position: absolute;
  border: calc(2.8px + (3.8 - 2.8) * ((100vw - 1000px) / (1640 - 1000))) solid #fff;
  -webkit-box-shadow: 0px -14px 1px 0px rgba(0, 0, 0, 0);
          box-shadow: 0px -14px 1px 0px rgba(0, 0, 0, 0);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara {
    width: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    height: calc(80px + (200 - 80) * ((100vw - 300px) / (800 - 300)));
    border: 2px solid #fff;
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.frente {
  -webkit-transform: translateZ(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000))));
          transform: translateZ(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000))));
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.frente {
    -webkit-transform: translateZ(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300))));
            transform: translateZ(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300))));
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.atras {
  -webkit-transform: translateZ(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000))));
          transform: translateZ(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000))));
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.atras {
    -webkit-transform: translateZ(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300))));
            transform: translateZ(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300))));
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.arriba {
  -webkit-transform: translateY(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
          transform: translateY(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.arriba {
    -webkit-transform: translateY(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
            transform: translateY(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.abajo {
  -webkit-transform: translateY(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
          transform: translateY(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateX(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.abajo {
    -webkit-transform: translateY(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
            transform: translateY(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateX(90deg);
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.izquierda {
  -webkit-transform: translateX(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
          transform: translateX(calc(34.8px + (74 - 34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.izquierda {
    -webkit-transform: translateX(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
            transform: translateX(calc(40px + (100 - 40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
  }
}

#selector-dimensiones .todo #dim-vivir #cubo .cara.derecha {
  -webkit-transform: translateX(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
          transform: translateX(calc(-34.8px + (-74 - -34.8) * ((100vw - 1000px) / (1640 - 1000)))) rotateY(90deg);
}

@media (max-width: 800px) {
  #selector-dimensiones .todo #dim-vivir #cubo .cara.derecha {
    -webkit-transform: translateX(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
            transform: translateX(calc(-40px + (-100 - -40) * ((100vw - 300px) / (800 - 300)))) rotateY(90deg);
  }
}

#selector-dimensiones .todo #dim-vivir #cubo #circulo {
  width: calc(50px + (100 - 50) * ((100vw - 1000px) / (1640 - 1000)));
  height: calc(50px + (100 - 50) * ((100vw - 1000px) / (1640 - 1000)));
  background-color: #0d9dd8;
  position: absolute;
  top: 12%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px -14px 44px 0px rgba(13, 157, 216, 0.7);
          box-shadow: 0px -14px 44px 0px rgba(13, 157, 216, 0.7);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 5;
  -webkit-transform: rotateY(138deg) rotateX(60deg);
          transform: rotateY(138deg) rotateX(60deg);
}
/*# sourceMappingURL=dimensiones.css.map */